@font-face {
    font-family: "Montserrat";
    src: url('./Montserrat-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: "Montserrat";
    src: url('./Montserrat-BoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Montserrat";
    src: url('./Montserrat-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }